
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 150px;
}

.nav-items{
    display: flex;
    list-style: none;
    gap: 46px;
    
}
.nav-link{
    text-decoration: none;
    color: #8987A1;
}
.nav-links{
    display: flex;
    gap: 46px;
}
#home{
    color: #252432;
    font-weight: bold;
}
#cart{
    color: #252432;
}