
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 150px;
}

.nav-items{
    display: flex;
    list-style: none;
    gap: 46px;
    
}
.nav-link{
    text-decoration: none;
    color: #8987A1;
}
.nav-links{
    display: flex;
    gap: 46px;
}
#home{
    color: #252432;
    font-weight: bold;
}
#cart{
    color: #252432;
    font-size: 18px;
    font-weight: bold;
}

.banner-container{
    display: flex;
    height: 461px;
    margin: 120px 150px;
} 

.banner-title{
    font-weight: bold;
    font-size: 4rem;
}

.fresh{
    color: #E95A08;
}
.banner-description{
    font-weight: 400;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1px;
}
.banner-img{
    margin-top: 106px;
    width: 570px;
    margin-bottom: 10px;
}
.plants-title{
    font-weight: bold;
    font-size: 50px;
}
.our{
    color: #E95A08;
}
.plants-description{
    font-weight: 400;
    font-size: 1.375rem;
    color: #8987A1;
}
.plants-section-content{
    text-align: center;
}
.card-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    gap:30px;
}
.product-content img{
    width: 100%;
}
.product-title{
    font-weight: bold;
    font-size: 1.375rem;
}
.product-price{
    font-weight: bold;
    font-size: 1.375rem;
}
.cart-btn{
    padding: 19px 80px;
    background-color: #E95A08;
    color: white;
    width: 100%;
}
.plants-lover{
    display: flex;
    text-align: justify;
    margin: 210px 150px 133px 150px;
    gap: 40px;
    
}
.plants-lover-content{
    margin: 0px 0 38px 60px;
}
.plants-lover-title{
    font-weight: bold;
    font-size: 50px;
    margin-top: 0;
}
.plants-lover-description{
    font-weight:400;
    font-size: 22px;
    color: #8987A1;
}
.deal-title{
    font-weight: bold;
    font-size: 50px;
}
.latest{
    color: #E95A08;
}
.deal-description{
    font-size: 22px;
    color: #8987A1;
}
.deal-section{
    text-align: center;
}

.offer-container {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.side-offers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card.small {
  width: 367px;
  height: 201px;
}

.card.large {
  width: 753px;
  height: 423px;
}

.overlay {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.overlay h3 {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}
.overlay h2 {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
}
.overlay a {
  margin-top: 10px;
  color: white;
  text-decoration: underline;
  font-weight: bold;
  font-size: 0.9rem;
}
.news-letter-bg{
    background-image: url(assets/news-letter-bg.png);
    height: 533px;
    text-align: center;
}
.subs-title{
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}
.subs-btn{
    padding: 19px 80px;
    background-color: #E95A08;
    color: white;
    width: 186px;
    height: 50px;
    border: none;
}
.join-info{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 199px 305px;
}
.email{
    width: 641px;
}
.foot{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.foot-logo{
    display: table-column;
}
.foot-info{
    display: grid;
    grid-column: auto;
}
.services{
    display: grid;
    grid-column: auto;
}
.foot-des{
    color: #8987A1;
    font-weight: 500;
    font-size: 22px;
}
.social-m{
    gap: 10px;
}