
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 150px;
}

.nav-items{
    display: flex;
    list-style: none;
    gap: 46px;
    
}
.nav-link{
    text-decoration: none;
    color: #8987A1;
}
.nav-links{
    display: flex;
    gap: 46px;
}
#home{
    color: #252432;
    font-weight: bold;
}
#cart{
    color: #252432;
}

.banner-container{
    display: flex;
    height: 461px;
    margin: 120px 150px;
    border: 1px solid blue;
} 
.banner-content{
    
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;

}

.fresh{
    color: #E95A08;
}
.banner-description{
    font-weight: 400;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1px;
}
.banner-img{
    margin-top: 106px;
    width: 570px;
    margin-left: 670px;
    margin-bottom: 10px;
}